fastapi==0.115.11
uvicorn==0.34.0
python-dotenv==1.0.0
pymongo==4.11.2
motor==3.7.0
pydantic==2.10.3
pydantic-settings==2.7.0
pydantic_core==2.27.1
rich==13.9.4
pytz==2025.1
passlib==1.7.4
python-jose==3.4.0
pydantic[email]
Faker==37.1.0
gradio==5.23.1

langsmith==0.3.11


openai==1.66.3

neo4j==5.28.1
pandas==2.2.3